
body {
    text-align: center;
}

h2 {
    font-family: serif;
    font-size: x-large;
    font-weight: bolder;
    color: blueviolet;
    margin: 25px 0;
}

.keybrd {
    position: relative;
    width: 500px;
    margin: auto;

}

button {
    background-color: blueviolet;
    padding: 10px;
    margin: 1px;
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    box-shadow: 3px 2px 2px 1px rgb(206, 126, 126);
}

.section {
    display: inline-block;
}

#space {
    width: 250px;
}

#ok {
    padding: 15px 60px;
    margin: 25px;
    background-color: white;
    color: blueviolet;
}

#ok:hover {
    padding: 15px 100px;

}

textarea {
    color: blueviolet;
    border: 1px solid blueviolet;
}



